.groupCard {
    background-color: #8abefa79;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
    column-gap: 24px;
    align-items: center;
}

.groupAvatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.groupInfo {
    display: flex;
    flex-direction: column;
}

.friends {
    margin-top: 20px;
    text-align: center;
    box-shadow: rgba(2, 42, 59, 0.658) 0px 5px 15px;
    cursor: pointer;
}